[user]
	name = Eduardo Tinta
	email = 79492525+lethc@users.noreply.github.com
[core]
	editor = nvim
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[diff]
	tool = vimdiff ; run git difftool
