themes/one/wallpapers
dots/mpv/scripts/sponsorblock_shared/sponsorblock.txt
dots/newsboat/urls
dots/qutebrowser/bookmarks/
dots/qutebrowser/quickmarks
scripts/variables/temp/background
themes/one/eww/scripts/cache/
dots/ranger/plugins/__pycache__/
