themes/one/wallpapers
dots/mpv/scripts/sponsorblock_shared/sponsorblock.txt
dots/.scripts/.megabot
dots/newsboat/urls
dots/qutebrowser/bookmarks/
dots/qutebrowser/quickmarks
scripts/variables/temp/background
