themes/one/wallpapers
themes/one/wallpapers_evil
dots/mpv/scripts/sponsorblock_shared/sponsorblock.txt
dots/newsboat/urls
dots/qutebrowser/bookmarks/
dots/qutebrowser/quickmarks
scripts/variables/temp/background
themes/one/eww/scripts/cache/dunst-history.json
themes/one/eww/scripts/cache/dunst-lock-info 
themes/one/eww/scripts/cache/dunst-toggle.lock
dots/ranger/plugins/__pycache__/
dots/md2anki/*
!dots/md2anki/md2anki.config.ini
/dots/.scripts/notes
