$background-bar: rgba(26, 17, 19, 1);
$background: rgba(26, 17, 19, 1);
$widget-background: rgba(34, 25, 27, 1);
$shadow: rgba(0, 0, 0, 0.3);
$grey: rgba(105, 101, 124, 0.7);
//Catppuccin
// $widget-background: rgba(30, 30, 30, 1);
// $background-bar: rgba(21, 21, 21, 0.9);
// $background: rgba(30, 30, 46, 1);
// $widget-background: rgba(24, 24, 37, 1);

$black:     #282A36;
$red:     #851D18;  // #f38ba8; // 
$red2:     #FF6363;  // #f38ba8; // 
$green:   #16A33C;  // #a6e3a1; // 
$yellow:  #EFA554;  // #f9e2af; // 
$orange:  #E5C76B;  // #f9e2af; // 
$blue:    #0099B5;  // #89b4fa; // 
$purple:  #601D85;  // #f5c2e7; // 
$purple2: #FF6363;  // #957fb8; // 
$teal:    #187F7D;  // #94e2d5; // 
$white:   #c9c7cd;  // #cdd6f4; // 

$primary:   #c9c7cd; // #F37F97;
$secondary: #67CBE7; // #F37F97;
$tertiary:  #E5C76B;
