simplified_ui false 
pane_frames false // Pane names preview
//zellij options --no-pane-frames
default_shell "zsh"

default_layout "compact"
//plugin location="zellij:compact-bar"
scroll_buffer_size 10000

copy_command "wl-copy"                    // wayland

ui {
    pane_frames {
        rounded_corners true
    }
}

ui {
    pane_frames {
        hide_session_name false 
    }
}

auto_layout true

keybinds {
    // keybinds are divided into modes
    //unbind "Ctrl t" // unbind in all modes
    normal {
        // bind instructions can include one or more keys (both keys will be bound separately)
        // bind keys can include one or more actions (all actions will be performed with no sequential guarantees)
        unbind "Ctrl h"
        unbind "Ctrl l"
        unbind "Alt k"
        unbind "Alt j"
        unbind "Ctrl t"
        unbind "Ctrl g"
        bind "Ctrl d" { SwitchToMode "locked"; }
        bind "Ctrl p" { SwitchToMode "pane"; }
        bind "Ctrl o" { SwitchToMode "move"; }
        bind "Ctrl n" { SwitchToMode "resize"; }
        bind "Ctrl e"  { SwitchToMode "session"; }
        bind "Ctrl b" { SwitchToMode "tab"; }
        bind "Ctrl q" { Quit; }
        //bind "Ctrl w" { Detach; }
        bind "Alt n" { NewPane; }
        bind "Alt m" { NewPane "Down"; }
        bind "Alt q" { CloseFocus; }
        bind "Alt a" "Alt h" { MoveFocus "Left"; }
        bind "Alt d" "Alt l"{ MoveFocus "Right"; }
        bind "Alt s" {MoveFocus "Down"; }
        bind "Alt w" { MoveFocus "Up"; }
        bind "Alt t" { NewTab; }
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Alt b" { ToggleTab; }

        //bind "Alt e" {
        //        LaunchOrFocusPlugin "zellij:strider" {
        //            floating true
        //        }
        //}
        bind "Alt e" {
                LaunchOrFocusPlugin "zellij:session-manager" {
                    floating true
                    move_to_focused_tab true
                };
                SwitchToMode "Normal"
        }
    }
    pane {
        bind "Ctrl b" { SwitchToMode "tab"; }
        bind "i" { SwitchToMode "normal"; }
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "p" { SwitchFocus; }
        bind "q" { CloseFocus; }
        bind "r" { SwitchToMode "RenamePane"; }
        //c to rename a pane and z to show pane_frames
        //bind "a" { FocusNextPane; }
        //bind "a" { FocusPreviousPane; }
    }
    move {
        bind "Ctrl b" { SwitchToMode "tab"; }
        bind "Esc" { SwitchToMode "Pane"; }
        bind "n" "Tab" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
    }
    locked {
        bind "Ctrl d" { SwitchToMode "normal"; }
        bind "Alt a" "Left" { MoveFocus "Left"; }
        bind "Alt d" "Right" { MoveFocus "Right"; }
        bind "Alt s" "Down" { MoveFocus "Down"; }
        bind "Alt w" "Up" { MoveFocus "Up"; }
        bind "Alt n" { NewPane; }
        bind "Alt m" { NewPane "Down"; }
        bind "Alt t" { NewTab; }
        bind "Alt f" { ToggleFocusFullscreen; }
        //bind "Alt p" { ToggleFloatingPanes; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Alt b" { ToggleTab; }
    }
    scroll {
        bind "i" { SwitchToMode "Normal"; }
    }
    session {
        bind "e" { Detach; }
        bind "w" {
                LaunchOrFocusPlugin "zellij:session-manager" {
                    floating true
                    move_to_focused_tab true
                };
                SwitchToMode "Normal"
        }
    }
    search {
        bind "i" { EditScrollback; SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
  }
  tab {
        bind "Ctrl b" { SwitchToMode "tab"; }
        bind "I" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "i" { SwitchToMode "Normal"; }
        bind "E" { SwitchToMode "RenameTab"; }
        bind "U" { UndoRenameTab; }
        bind "h" "Left" "Up" { GoToPreviousTab; }
        bind "l" "Right" "Down" { GoToNextTab; }
        bind "j" { SwitchToMode "Pane"; }
        bind "k" { SwitchToMode "Pane"; }
        bind "n" { NewTab; }
        bind "q" { CloseTab; }
        bind "s" { ToggleActiveSyncTab; }
        bind "t" {  
          NewTab {
             cwd "~/"
             //name ""
             //layout "/path/to/my/layout.kdl"
          }
        }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Tab" { ToggleTab; }
  }

}


themes {
    freedom {
        fg "#DADADA"
        bg "#281E22"
        black "#1A1113"
        red "#FF6363"
        green "#E64747"
        yellow "#EFA554"
        blue "#9B6BDF"
        magenta "#E64747"
        cyan "#75D7EC"
        white "#c1c0d4"
        orange "#FFD86E"
    }
    neo_freedom {
        fg "#b2b5b3"
        bg "#242424" //#171717
        black "#171717"
        red "#e55f86"
        green "#00D787"
        yellow "#EBFF71"
        blue "#51a4e7"
        magenta "#9077e7"
        cyan "#51e6e6"
        white "#e7e7e7"
        orange "#EFA554"
  }
  no_clown_freedom {
      fg "#E1E1E1"
      bg "#242424" //#171717
      black "#171717"
      red "#b46958"
      green "#F4BF75"
      yellow "#90A959"
      blue "#BAD7FF"
      magenta "#AA759F"
      cyan "#88afa2"
      white "#E1E1E1"
      orange "#FFA557"
  }
}
theme "no_clown_freedom"
//theme "catppuccin-mocha"
