* {
    background:     #171717;
    background-alt: #242424;
    foreground:     #b2b5b3;
    selected:       #00D787;
    border:         #3f3f3f;
    active:         #00D787;
    urgent:         #e55f86;
}
