:root {
    --background:            #171717;
    --text:                  #EEEEEE;
    --secondary-hover:       #73828c;
    --secondary-focus:       rgba(115, 130, 140, 0.125);
    --secondary-inverse:     #EEEEEE;
    --primary-background:    #171717;
    --secondary-background:  #242424;
    --thumb-background:      #35404D;
    --link:                  #F4BF75;
    --link-visited:          #b46958;
    --border-bg:             #EEEEEE;
    --buttom:                #242424;
    --buttom-text:           #EEEEEE;
    --button-border:         #91918c;
    --buttom-hover:          #424242;
    --search-text:           #EEEEEE;
    --time-background:       #212121;
    --time-text:             #EEEEEE;
}
