$background-bar: rgba(20, 27, 30, 1);
$background: rgba(20, 27, 30, 1);
$widget-background: rgba(35, 42, 46, 1);
$shadow: rgba(0, 0, 0, 0.3);
$grey: rgba(105, 101, 124, 0.7);
//Catppuccin
// $widget-background: rgba(30, 30, 30, 1);
// $background-bar: rgba(21, 21, 21, 0.9);
// $background: rgba(30, 30, 46, 1);
// $widget-background: rgba(24, 24, 37, 1);

$black:     #282A36;
$red:     #EF7E7E;  // #f38ba8; // 
$green:   #96D988;  // #a6e3a1; // 
$yellow:  #F4D67A;  // #f9e2af; // 
$orange:  #E5C76B;  // #f9e2af; // 
$blue:    #67B0E8;  // #89b4fa; // 
$purple:  #CE89DF;  // #f5c2e7; // 
$purple2: #CE89DF;  // #957fb8; // 
$teal:    #67CBE7;  // #94e2d5; // 
$white:   #DADADA;  // #cdd6f4; // 

$primary:   #DADADA; // #F37F97;
$secondary: #67CBE7; // #F37F97;
$tertiary:  #E5C76B;
