$background-bar: rgba(45, 53, 59, 0.9);
$background: rgba(45, 53, 59, 1);
$widget-background: rgba(35, 42, 46, 1);
$shadow: rgba(0, 0, 0, 0.3);
$grey: rgba(105, 101, 124, 0.7);
//Catppuccin
// $widget-background: rgba(30, 30, 30, 1);
// $background-bar: rgba(21, 21, 21, 0.9);
// $background: rgba(30, 30, 46, 1);
// $widget-background: rgba(24, 24, 37, 1);

$black:     #282A36;
$red:     #F37F97;  // #f38ba8; // 
$green:   #AAC5A0;  // #a6e3a1; // 
$yellow:  #f6d6b3;  // #f9e2af; // 
$orange:  #f2c798;  // #f9e2af; // 
$blue:    #7FBBB3;  // #89b4fa; // 
$purple:  #DFA7E7;  // #f5c2e7; // 
$purple2: #C574DD;  // #957fb8; // 
$teal:    #72B69C;  // #94e2d5; // 
$white:   #D3C6AA;  // #cdd6f4; // 

$primary:   #eacded; // #F37F97;
$secondary: #71e9c2; // #F37F97;
$tertiary:  #f0db93;
