(
    selected_tab: Some(Yellow),
    command_fg: Some(Blue),
    selection_bg: Some(DarkGray),
    selection_fg: Some(White),
    cmdbar_bg: Some(DarkGray),
    cmdbar_extra_lines_bg: Some(Black),
    disabled_fg: Some(Cyan),
    diff_line_add: Some(Green),
    diff_line_delete: Some(Red),
    diff_file_added: Some(LightGreen),
    diff_file_removed: Some(LightRed),
    diff_file_moved: Some(LightYellow),
    diff_file_modified: Some(Yellow),
    commit_hash: Some(Magenta),
    commit_time: Some(Cyan),
    commit_author: Some(Green),
    danger_fg: Some(Red),
    push_gauge_bg: Some(Red),
    push_gauge_fg: Some(Magenta),
    tag_fg: Some(Magenta),
    branch_fg: Some(Green),
	  line_break: None,
)
