@import "dark.css";

* {
    border: none;
    border-radius: 0;
    font-family:
        'Lexend Deca,Symbols Nerd Font', Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
}

tooltip {
    border-radius: 10px;
    background-color: @surface-alt;
    border: 1px solid @accent-strong;
}

/* Modules: Base Style */
#clock,
#custom-todo,
#custom-countdown,
#backlight,
#pulseaudio,
#custom-pipewire,
#custom-notifications,
#custom-theme_switcher,
#custom-monitor,
#battery,
#memory,
#custom-snip,
#custom-clip,
#custom-taskmanager,
#custom-qalculator,
#tray,
#idle_inhibitor,
#custom-sunset,
#custom-power,
#custom-reboot,
#custom-quit,
#custom-lock,
#custom-launcher {
    /* background: @surface; */
    /* padding: 2px 12px; */
    padding: 2px 08px;
    /* margin: 4px; */
    margin: 0px;
    color: @foreground;
    /* border-radius: 8px; */
    border: 3px solid transparent;
    transition: all 0.3s ease-out;
}

/* Modules: App Launcher Strip */
#custom-browser,
#custom-terminal,
#custom-code,
#custom-tasks,
#custom-filemanager {
    background: @surface;
    padding: 2px 12px;
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 4px;
    color: @foreground;
    border: 3px solid transparent;
    border-radius: 0;
    transition: all 0.3s ease-out;
}

#custom-browser {
    margin-left: 2px;
    border-radius: 8px 0 0 8px;
}

#custom-filemanager {
    margin-right: 4px;
    border-radius: 0 8px 8px 0;
}

/* Modules: Hover Effects */
#backlight:hover,
#custom-todo:hover,
#pulseaudio:hover,
#custom-pipewire:hover,
#custom-notifications:hover,
#custom-theme_switcher:hover,
#custom-monitor:hover,
#battery:hover,
#memory:hover,
#custom-snip:hover,
#custom-browser:hover,
#custom-terminal:hover,
#custom-code:hover,
#custom-taskmanager:hover,
#custom-qalculator:hover,
#custom-tasks:hover,
#custom-filemanager:hover,
#idle_inhibitor:hover,
#custom-sunset:hover,
#custom-clip:hover {
    color: @background;
    background: @accent;
    border-color: @accent;
}

#battery icon {
    color: red;
}

#battery.charging,
#battery.plugged {
    color: @black-color;
    background-color: @success;
}

#custom-launcher:hover {
    border-color: @accent-strong;
}

#custom-power:hover {
    border-color: @accent-strong;
}

#custom-reboot:hover,
#custom-quit:hover,
#custom-lock:hover {
    background: @warning;
    border-color: @warning;
}

/* Modules: Specific Styles */
#custom-launcher {
    font-size: 18px;
    /* background: @accent-strong; */
    /* color: @background; */
}

#custom-countdown,
#clock {
    /* background: @accent-soft; */
    /* color: @background; */
}

#pulseaudio.muted {
    background: @warning;
    color: @background;
}

#custom-power {
    padding: 0px 12px 0px 9px;
}

#keyboard-state {
    background: transparent;
}

#keyboard-state label.locked {
    background: @accent-soft;
    color: @background;
    padding: 0px 12px;
    margin: 4px 0px;
    border-radius: 8px;
}

/* Active workspace */
#workspaces button {
    background: @surface;
    padding: 2px 12px;
    margin-top: 4px;
    margin-right: 3px;
    margin-bottom: 4px;
    color: @foreground;
    border-radius: 3px;
    border: 3px solid transparent;
    transition: all 0.3s ease-out;
}

#workspaces button.focused {
    color: @foreground;
}

#workspaces button.urgent {
    background: @urgent;
    border-bottom: 3px dashed @urgent;
    color: @urgent;
}

#workspaces.special button.urgent {
    background: @urgent;
    border-bottom: 3px dashed @urgent;
    color: @urgent;
}

#workspaces.special button {
    background: @surface-active;
    padding: 2px 12px;
    margin-top: 4px;
    margin-right: 3px;
    margin-bottom: 4px;
    color: @foreground;
    /* border-radius: 8px; */
    border: 3px solid transparent;
    transition: all 0.3s ease-out;
}

#workspaces.special button.active {
    color: @background;
    background: @special-accent;
    border-color: @special-accent;
}

#workspaces.special button:hover {
    color: @background;
    background: @accent;
    border-color: @accent;
}

#workspaces button:hover {
    color: @background;
    background: @accent;
    border-color: @accent;
}

#workspaces button.active {
    color: @background;
    background: @accent;
    border-color: @accent;
}

/* Active workspaces like left bottom section */
/* #workspaces button.focused { */
/*     color: @foreground; */
/* } */
/**/
/* #workspaces button.urgent { */
/*     background: @urgent; */
/*     border-bottom: 3px dashed @urgent; */
/*     color: @urgent; */
/* } */
/**/
/* #workspaces button:nth-child(1), */
/* #workspaces button:nth-child(2), */
/* #workspaces button:nth-child(3), */
/* #workspaces button:nth-child(4), */
/* #workspaces button:nth-child(5), */
/* #workspaces button:nth-child(6), */
/* #workspaces button:nth-child(7), */
/* #workspaces button:nth-child(8), */
/* #workspaces button:nth-child(9){ */
/*     background: @surface; */
/*     padding: 2px 12px; */
/*     margin-top: 4px; */
/*     margin-right: 2px; */
/*     margin-bottom: 4px; */
/*     color: @foreground; */
/*     border: 3px solid transparent; */
/*     border-radius: 0; */
/*     transition: all 0.3s ease-out; */
/* } */
/**/
/* #workspaces button:nth-child(1) { */
/*     margin-left: 2px; */
/*     border-radius: 8px 0 0 8px; */
/* } */
/**/
/* #workspaces button:nth-child(9) { */
/*     margin-right: 4px; */
/*     border-radius: 0 8px 8px 0; */
/* } */
/**/
/* #workspaces button:nth-child(1):hover, */
/* #workspaces button:nth-child(2):hover, */
/* #workspaces button:nth-child(3):hover, */
/* #workspaces button:nth-child(4):hover, */
/* #workspaces button:nth-child(5):hover, */
/* #workspaces button:nth-child(6):hover, */
/* #workspaces button:nth-child(7):hover, */
/* #workspaces button:nth-child(8):hover, */
/* #workspaces button:nth-child(9):hover{ */
/*     color: @background; */
/*     background: @accent; */
/*     border-color: @accent; */
/* } */
/**/
/* #workspaces button.active { */
/*     color: @background; */
/*     background: @accent; */
/*     border-color: @accent; */
/* } */
/**/
/* #workspaces.special button.urgent { */
/*     background: @urgent; */
/*     border-bottom: 3px dashed @urgent; */
/*     color: @urgent; */
/* } */
/**/
/* #workspaces.special button { */
/*     background: @surface; */
/*     padding: 2px 12px; */
/*     margin: 4px; */
/*     color: @foreground; */
/*     border-radius: 8px; */
/*     border: 3px solid transparent; */
/*     transition: all 0.3s ease-out; */
/* } */
/**/
/* #workspaces.special button:hover { */
/*     color: @background; */
/*     background: @accent; */
/*     border-color: @accent; */
/* } */
/**/

/* Taskbar */
#taskbar {
    background: @surface;
    padding: 0 5px;
    margin: 4px;
    border: transparent;
    border-radius: 8px;
}

#taskbar button {
    background: transparent;
    padding: 0 8px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-out;
    border-radius: 4px;
}

#taskbar button:hover {
    background: @surface-active;
    border-bottom-color: @accent;
}

#taskbar button.active {
    background: @surface-active;
    border-bottom-color: @accent-strong;
}
